


.loginpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginHead {
  padding: 10px;
}


.searchinput{
  width: 100%;
  height: 50px;
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.messageBox:hover{
  cursor: pointer;
  color: blue;
}

.messagetextBox2{
  width: 100%;
  min-height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.messagetextBox{
  width: 100%;
  min-height: 35px;
  display: flex;
  align-items: center;
}


.messagetextborder{
  float: right;
  max-height: 70%;
  background-color: rgb(247, 226, 226);
  padding: 10px;
  border-radius: 10px;
}

.messagetextborder2{
  float: right;
  max-height: 70%;
  background-color: rgb(243, 226, 247);
  padding: 10px;
  border-radius: 10px;
}

.centerdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 20px;
}

.xcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
